#if ($wrap)<span class="user-list">#end
<ul>
#foreach($user in $usernames)#set ( $idx = $velocityCount - 1 )##
<li><a href="${basepath}/display/~${user}" class="user-item">$prefix$fullnames.get( $idx )</a></li>
#end##
</ul>
#if ($wrap)</span>#end
